<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</head>
<body>
	<div
		class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
		<h1 class="text-center">
			<a href="/">CATALOGO</a>
		</h1>
		<h2 class="text-center">Buscar Especie</h2>
		<div class="row">
			<div class="col-sm-4 col-sm-4 col-md-4">
				<div class="row text-center">
					<h3>TODAS</h3>
				</div>
				<div class="row text-center">
					<form action="/consultasEspecieTodas">
						<input type="submit" value="Buscar" />
					</form>
				</div>
				<div class="row">
					<div th:each="especie: ${listaBusquedaTodas}">
						<span th:text="'Especie '+ ${especie.nombreComun}"></span> <br/>
						<p th:each="area: ${especie.areas}">
							<span th:text="${area.nombre}"></span>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-md-4">
				<div class="row text-center">
					<h3>TIPO</h3>
				</div>
				<div class="row text-center">
					<form action="/consultasEspecieTipo">
						<input type="text" name="tipo" class="form-control"
							placeholder="Introduzca su busqueda" /> <br /> <input
							type="submit" value="Buscar" />
					</form>
				</div>
				<div class="row">
					<p th:each="especie: ${listaBusquedaTipo}">
						<span th:text="'Especie '+ ${especie.nombreComun}"></span>
					</p>
				</div>
			</div>
			<div class="col-sm-4 col-md-4">
				<div class="row text-center">
					<h3>NOMBRE COMUN</h3>
				</div>
				<div class="row text-center">
					<form action="/consultasEspecieNombreComun">
						<input type="text" name="nombreComun" class="form-control"
							placeholder="Introduzca su busqueda" /> <br /> <input
							type="submit" value="Buscar" />
					</form>
				</div>
				<div class="row">
					<p th:each="especie: ${listaBusquedaNombreComun}">
						<span th:text="'Especie '+ ${especie.nombreComun}"></span>
					</p>
				</div>
			</div>
		</div>
		<hr />
		<div class="row text-center">
			<img
				src="http://www.vinilosdecorativosweb.com/87-225-thickbox/vinilo-decorativo-conejo-saltando.jpg"/>
		</div>
	</div>
</body>
</html>