<html>
<head lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</head>
<body>
	<div class="container">
		<div
			class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
			<h1 class="text-center">
				<a href="/">CATALOGO</a>
			</h1>
			<h1 class="text-center">Buscar Empleado</h1>
			<div class="row">
				<div class="col-sm-4 col-md-4">
					<div class="row text-center">
						<h2>TIPO</h2>
					</div>
					<div class="row text-center">
						<form action="/consultasEmpleadoTipo">
							<input type="text" name="tipo" class="form-control"
								placeholder="Introduzca su busqueda" /> <br /> <input
								type="submit" value="Buscar" />
						</form>
					</div>
					<div class="row">
						<p th:each="empleado: ${listaBusquedaTipo}">
							<span
								th:text="'Empleado '+ ${empleado.nombre}+' '+ ${empleado.apellidos}"></span>
								<button><a th:href="@{/empleado/{id}(id=${empleado.getId()})}">Editar</a></button>
						</p>
					</div>
				</div>
				<div class="col-sm-4 col-md-4">
					<div class="row text-center">
						<h2>APELLIDOS</h2>
					</div>
					<div class="row text-center">
						<form action="/consultasEmpleadoApellidos">
							<input type="text" name="apellido" class="form-control"
								placeholder="Introduzca su busqueda" /> <br /> <input
								type="submit" value="Buscar" />
						</form>
					</div>
					<div class="row">
						<p th:each="empleado: ${listaBusquedaApellido}">
							<span
								th:text="'Empleado '+ ${empleado.nombre}+' '+ ${empleado.apellidos}"></span>
								<button><a th:href="@{/empleado/{id}(id=${empleado.getId()})}">Editar</a></button>
						</p>
					</div>
				</div>
				<div class="col-sm-4 col-md-4">
					<div class="row text-center">
						<h2>NOMBRE/APELLIDOS</h2>
					</div>
					<div class="row text-center">
						<form action="/consultasEmpleadoNombreApellido">
							<input type="text" name="nombre" class="form-control"
								placeholder="Introduzca el nombre de su busqueda" /> <br /> <input
								type="text" name="apellidos" class="form-control"
								placeholder="Introduzca el apellido de su busqueda" /> <br />
							<input type="submit" value="Buscar" />
						</form>
					</div>
					<div th:if="${empleado}!=null">
						<span th:text="'Empleado '+ ${empleado.nombre}+' '+ ${empleado.apellidos}"></span>
						<button><a th:href="@{/empleado/{id}(id=${empleado.getId()})}">Editar</a></button>	
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>



