<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<h1>Main</h1>
		<button><a href="consultaEspecie.html">Especie</a></button>
		<button><a href="consultaPersonal.html">Personal</a></button>
		<h1>Especies</h1>
		<p th:each="comoquierapeter: ${comoquieras}">
		<span th:text="'esto'+ ${comoquierapeter.nombreComun}"></span>
		</p>
		<h1>Empleados</h1>
		<p th:each="empleado: ${empleados}">
		<span th:text="'Empleado '+ ${empleado.nombre}+' '+ ${empleado.apellidos}"></span>
		</p>
	</body>
</html>