<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</head>
	<body>
        <div class="container">
	    	<!-- CABECERA -->
           <div>
              <h1 class="text-center">"Las agua" Parque natural</h1>
               <ul class="nav nav-pills">
                   <li role="presentation" class="active"><a href="/">Home</a></li>
                   <li role="presentation"><a href="/consultaEspecie">Especies</a></li>
                   <li role="presentation"><a href="/consultaPersonal">Personal</a></li>
               </ul>
           </div>
            <div class="row">
	    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
	        <div class="row text-center">
                <h2>Añadir Especie</h2>
            <div>
                <hr/>
                <div class="row text-center">
                    <div class="col-md-1 col-sm-1"></div>
                    <a href="consultasEspecie.html"><button class="col-md-4 col-sm-4 btn btn-default btn-lg">Consultar</button></a>
                    <div class="col-md-2 col-sm-2 btn"></div>
                    <a href="/anadirEspecies"><button  class="col-md-4 col-sm-4 btn btn-default btn-lg">Añadir especie</button></a>
                </div>
                </div>
            </div>
        </div>
            </div>
        </div>
	</body>
</html>