<html>
<head lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</head>
<body>
	<div class="container">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
			<h1 class="text-center"><a href="/">CATALOGO</a></h1>
			<h2 class="text-center">Modificiar Especie</h2>
			<form th:action="@{/editarEspecie/{id}(id=${especieEditar.getId()})}" method="post">
				<input type="text" placeholder="Nombre Comun" name="nombreComun" th:field="${especieEditar.nombreComun}"/>
				<input type="text" placeholder="Nombre Cientifico" name="nombreCientifico" th:field="${especieEditar.nombreCientifico}"/> 
				<input type="text" placeholder="Tipo" name="tipo" th:field="${especieEditar.tipo}"/>
				<select multiple="multiple" name="areas">
					<div th:each="area: ${areasMul}">
						<option value="${area.nombre}" th:text="${area.nombre}" th:selected="${especieEditar.tieneAreas(area)}"></option>
					</div>
				</select> 
				
				<input type="submit" value="Editar"/>
			</form>
		</div>
	</div>
</body>
</html>